@{
}

<form asp-action="ChangePassword" method="post">
    <div class="mb-3">
        <label name="newpass" class="form-label">Enter the new Password</label>
        <input type="password" class="form-control" name="newpass">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>

</form>
